/* Block: link */
.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.link:active {
    text-decoration: none;
}

/* Block: body */
.body {
    background-color: #333333;
    margin: 0;
    font-family: Tahoma, Arial, Verdana, sans-serif;
    font-size: 11px;
    line-height: 15px;
    color: #999999;
    font-weight: bold;
}

/* Block: container */
.container {
    position: relative;
    margin: 0; /* Elimina el margen superior para asegurar que el contenedor comience desde el borde superior */
    width: 100vw; /* Asegura que el contenedor ocupe todo el ancho de la ventana */
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-color: #020106;
}

/* Block: intro */
.intro {
    margin-top: 0;
    text-align: right;
    color: #FFFFFF;
}

/* Block: pageHeader */
.pageHeader {
    height: 250px;
    padding-right: 25px;
}

/* Block: pageHeader, Element: h1, h2, span */
.pageHeader__h1,
.pageHeader__h2,
.pageHeader__span {
    height: 15px;
}

/* Block: supportingText, linkList */
.supportingText{
    padding: 25px;
    width: 100%;
    max-width: 890px;
}

.linkList {
    padding: 25px;
    width: 100%;
    max-width: 320px;
}

/* Block: intro, Element: h3 */
.intro__h3 {
    width: 100%;
    height: 75px;
}

/* Block: p, Modifier: p1, p2, p3 */
.p--p1,
.p--p2,
.p--p3 {
    margin: 0;
    padding: 0;
    margin-top: 8px;
}

/* Block: explanation, Element: h3 */
.explanation__h3 {
    width: 100%;
    height: 10px;
    margin: 0;
    padding: 25px 0 0 0;
}

/* Block: participation, Element: h3 */
.participation__h3 {
    width: 100%;
    height: 10px;
}

/* Block: benefits, Element: h3 */
.benefits__h3 {
    width: 100%;
    height: 10px;
}

/* Block: linkList */
.linkList {
    position: absolute;
    top: 300px;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

/* Block: lselect */
.lselect {
    width: 100%;
    height: auto;
    color: #CCCCCC;
}

/* Block: lselect, Element: h3 */
.lselect__h3 {
    width: 100%;
    height: 50px;
}

/* Block: lselect, Element: ul */
.lselect__ul {
    margin-top: 5px;
}

/* Block: lselect, Element: li */
.lselect__li {
    border-bottom: 1px dotted #FFFFFF;
    width: 100%;
    margin-bottom: 8px;
}

/* Block: lselect, Element: a */
.lselect__a {
    display: block;
    font-weight: bold;
    color: #FFFFFF;
}

/* Block: lselect, Element: a, Modifier: hover */
.lselect__a:hover {
    display: block;
    font-weight: bold;
    color: #B99541;
    background-color: #FFFFFF;
}

/* Block: lselect, Element: a, Modifier: c */
.lselect__a--c {
    color: #FFCC00;
    display: inline;
    font-weight: bold;
}

/* Block: lselect, Element: a, Modifier: c, hover */
.lselect__a--c:hover {
    color: #FFCC00;
    display: inline;
    font-weight: bold;
    background-color: #3399FF;
}

/* Block: larchives, lresources, Element: a, li, h3 */
.larchives__a,
.lresources__a {
    font-weight: bold;
    color: #FFFFFF;
}

.larchives__li,
.lresources__li {
    width: 100%;
    list-style-position: outside;
}

.larchives {
    width: 100%;
    height: 169px;
}

.larchives__h3 {
    width: 100%;
    height: 40px;
    top: 0;
    margin: 0;
    padding: 0;
}

/* Block: footer */
.footer {
    background-repeat: no-repeat;
    width: 150%; /* Asegura que el pie de página ocupe todo el ancho disponible */
    height: 15px;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
}

/* Block: footer, Element: a */
.footer__a {
    color: #FF9900;
}
